<h1>Filter Results: <%= params[:name] %> </h1>

<ul id='filter_links'>
  <% @filter_links.each do |tag| %>
    <li>
      Title: <a href=<%= tag.url %>> <%= tag.title %> </a>
    </li>
    <% end %>
</ul>
